@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    ._afdq{
        border-left: 1px solid #dee3e9;
        margin-left: 16px;
        padding-left: 16px;
    }
    .thefont{
        box-sizing: border-box;
    color: #1c2b33;
    font-family: 'Optimistic Display Medium', Helvetica, Arial, sans-serif;
    line-height: 28.8px;
    }
    .fooy{
        background:red;
    }

    .bur{
        height: auto!important;
        max-width: 100%;
        width: 100%!important;
    }
    .fa-arrow-down{
        font-size:10px;
        color: gray;   
    }
    .ash{
        color: #1C2B33;
        font-size: 16px;
        font-family: 'Optimistic Text Normal', Helvetica, Arial, sans-serif;
    }
    .bbk{
        background-color: #1c1e21;
    }
}
